#pageAccount{background: #fafafa;}
#pageAccount>.balance{ overflow: hidden;background: #e95847;}
#pageAccount>.balance>.sum{text-align: center; overflow: hidden; padding:7px 0;}
#pageAccount>.balance>.sum>dt,#pageAccount>.balance>.sum>dd{width:49%; display: inline-block; padding:10px 0; text-align: center;}
#pageAccount>.balance>.sum>dt{border-right:1px solid #e9a9a2;}
#pageAccount>.balance>.sum h1{font-size:41px; color: #fff;}
#pageAccount>.balance>.sum h3{font-size:13px; color: #eee;}
#pageAccount>.balance>.ann{height:35px; line-height: 35px; font-size: 13px; color: #fff;padding:0 10px 0 40px;background: #d14f41 url(http://cdn.m.lsa0.cn/static/images/bg_sound.png) no-repeat 10px 50%; background-size:auto 50%;}
#pageAccount>.tab{height:40px;border-bottom:1px solid #e8e8e8;}
#pageAccount>.tab li{width:50%;height:40px; line-height: 40px;float:left; text-align: center; font-size:15px; color: #333;}
#pageAccount>.tab li.current{height:40px;color: #e95847; -webkit-user-select: none;}
#pageAccount>.tab li:active{background: #ddd;}
#pageAccount>.tab-float{ position: relative;}
#pageAccount>.tab-float .block{width: 50%; border-top: 2px solid #e95847; position: absolute;top: -2px; left: 0;}
#pageAccount>.tab-con>.con{ display: none; overflow: hidden; padding: 30px 40px;}
#pageAccount>.tab-con>.con.current{display: block;}
#pageAccount>.tab-con>.con>h3{color: #999; font-size: 12px;}
#pageAccount>.tab-con>.con>h3>em{width:26px;color: #333; display: inline-block;}
#pageAccount>.tab-con>.con>.input{height:40px; margin: 10px 0; border-bottom: 1px solid #ccc; position: relative; overflow: hidden;}
#pageAccount>.tab-con>.con>.input>input{display: block;height:40px; line-height:36px; font-size:36px; background: none;padding-left: 35px; border:none;}
#pageAccount>.tab-con>.con>.input>em{ position: absolute; left: 5px; top:5px; color: #555; font-size:20px;}
#pageAccount>.tab-con>.con>.btn{height: 45px; line-height: 45px; font-size: 17px; color: #fff; text-align: center; border-radius:30px; background: #ef5032;-webkit-user-select: none;}
#pageAccount>.tab-con>.con>.btn:active{background: #c30;}
#pageAccount>.tab-con>.con>.disabled{background:#999;}
#pageAccount>.tab-con>.con>.disabled:active{background: #999;}
#pageAccount>.tab-con>.con>.btnlist{text-align: center; border-radius:30px;font-size: 17px;border: 1px solid #ef5032; background: #fff; color: #ef5032; height: 43px; line-height: 43px;-webkit-user-select: none;}
#pageAccount>.tab-con>.con>.btnlist:active{background: #ef5032; color: #fff;}
#pageAccount>.balance>.user-info{background: #d14f41}
#pageAccount>.balance>.user-info img{border-radius: 50%;vertical-align: middle;padding: 5px;width: 25px;}
#pageAccount>.balance>.user-info span{color: white;}
.pay_by_hls{display: none;position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: #fff;z-index: 9999;}
.pay_by_hls .txt{overflow: hidden;padding:5rem 2rem;line-height:3rem;font-size: 1.3rem;text-align: center;}
.pay_by_hls .qrcode{overflow: hidden;text-align: center;}
.pay_by_hls .qrcode img{width: 60%;}