.file-upload{opacity:0;position:absolute;width:0;}
.hls-upload .choose{margin-left:0}
.hls-upload .filename{line-height:80px;margin-left:90px;font-size:16px;color:#666;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:235px}