#qrcode{width: 256px;height:256px;margin:0 auto;}
#authResult{width:380px; height: 60px; margin:0 auto; line-height: 30px; padding:15px 10px 15px 104px; border:1px solid #ddd; border-radius:20px;
background:url(../images/icon64_wx_logo.png) 20px 50% no-repeat; font-size: 15px; color: #666;}